@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-1: rgb(69,71,75);
  --color-2: rgb(73,94,87);
  --color-3: rgb(244,206,20);
  --color-4: rgb(245,247,248);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--color-3);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}
