/* @tailwind base;
@tailwind components;
@tailwind utilities; */



@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Geostar&family=Major+Mono+Display&family=Michroma&family=Monoton&family=Orbitron:wght@400..900&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Dots&display=swap');



:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-1: rgb(69,71,75);
  --color-2: rgb(73,94,87);
  --color-3: rgb(244,206,20);
  --color-4: rgb(245,247,248);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: black;
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif, "Orbitron", "Roboto", ;
  padding: 0;
  margin: 0;
}
